@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prova Técnica .net Core</h1>
    <pre>
1. Crie uma aplicação utilizando .net Core que realize um CRUD
completo da entidades relacionadas abaixo e obedecendo os
seguintes critérios:
a. A aplicação deve ter ao menos 3 camadas: Model, View,
Controller;
b. A camada de View (FrontEnd), deve ser construída em
Angular 7.2+, React ou MVC;
c. A tela principal da aplicação deve ter três menus para
acesso as telas de CRUD de Usuário, Perfil e
Funcionalidades;
d. A tela de cadastro de usuário deve cadastrar os dados de
usuário e relacionar com um perfil;
e. A tela de cadastro de perfil deve cadastrar os campos de
Perfil e relacionar com as funcionalidades;
f. A tela de cadastro de Funcionalidades deve cadastrar os
campos de Funcionalidade;
g. Todos os métodos da camada de controle (Controller)
devem ter um sumário;
MODELO RELACIONAL Usuário -> Perfil -> Funcionalidades
2. Inclua validação e mensagens de alerta como achar melhor;
3. Comite seu código no seu repositório público do Github, se não
tiver um, crie;
4. Gere um arquivo SQL para criação do banco de dados e comite
em uma pasta nomeada “SQL” no repositório criado, ou utilize
migrations;
5. Envie a url do repositório em resposta a esse e-mail com o
assunto sendo o título dessa prova “-” como você deseja ser
avaliado, JUNIOR, PLENO, SÊNIOR. Ex: Prova Técnica
.net Core - Pleno ;
    </pre>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
